[general]
use_middle_proxy = true

__AD_TAG_BLOCK__

log_level = "normal"

[general.modes]
classic = false
secure = false
tls = true

[general.links]
show = "*"
public_host = "__TELEMT_PUBLIC_HOST__"
public_port = 443

[server]
port = 443

[server.api]
enabled = __API_ENABLED__
listen = "127.0.0.1:9091"
whitelist = ["127.0.0.1/32", "::1/128"]

[[server.listeners]]
ip = "0.0.0.0"

[censorship]
tls_domain = "__TELEMT_TLS_DOMAIN__"
mask = true
tls_emulation = true
tls_front_dir = "tlsfront"

[access.users]
__TELEMT_USER__ = "__TELEMT_SECRET__"